// base
@use './base/colors';

// components
@use './components/header';
@use './components/custom-carousel';
@use './components/button';

// pages
@use './pages/signup-page';

html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.page {
  background-color: colors.$theme_color_light;
  height: 100%;
  overflow: auto;
}
