@use '../base/colors';

.lesson-detail-page__container {
  .lesson-detail-page__header {
    margin-top: 2%;
    width: 100%;
    height: 300px;
    box-shadow: 0 5px 5px gray;
    justify-content: center;
    display: flex;
    background-color: colors.$theme_color;
    .carousel-wrapper {
      background-color: white;
      height: 100%;
      margin-left: 5%;
      // display: flex;
    }
    .lesson-detail-page__info {
      width: 40%;
      margin: 5%;
      text-align: left;
      .lesson-detail-page__name-time-box {
        display: flex;
        .lesson-detail-page__lessonName {
          text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
          // text-shadow: 1px 1px 1px #000;
          color: white;
          .lesson-detail-page__lessonTime {
            color: #000;
            font-size: medium;
            text-shadow: none;
            text-decoration: underline;
            margin-left: 2%;
          }
        }
      }
      .lesson-detail-page__header-teacher-info {
        display: flex;
        .lesson-detail-page__teacher-image {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
          font-size: 1.25rem;
          line-height: 1;
          border-radius: 50%;
          overflow: hidden;
          user-select: none;
        }
        .lesson-detail-page__teacher-name {
          color: #000;
          margin-left: 2%;
          font-weight: bold;
        }
      }
      .lesson-detail-page__rating-none {
        display: flex;
        color: #000;
        margin-right: 2%;
        font-weight: bold;
        .lesson-detail-page__sad-image {
          flex-shrink: 0;
          width: 70px;
          height: 50px;
          font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
          font-size: 1.25rem;
          line-height: 1;
          overflow: hidden;
          user-select: none;
        }
      }
    }
  }
}

.lesson-detail-page__body {
  margin-top: 2%;
  width: 90%;
  display: flex;
  align-items: 'flex-start';
  justify-content: center;
  padding: auto;
  .lesson-detail-page__part-title {
    padding: 10px;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
  }
  .lesson-detail-page__content {
    width: 70%;
    margin: auto;
  }
  .lesson-detail-page__reservation {
    margin-top: 3%;
    justify-content: center;
  }
}

.lesson__category {
  background-color: #b8b8ff;
  text-align: center;
  border-radius: 15px;
  width: 80px;
  height: 40px;
  box-shadow: 1px 1px 1px 1px colors.$gray_color;
  .lesson__category--text {
    margin: auto;
    padding: 7px 10px 7px 10px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
  }
}
