.lesson-page__header {
  background-color: red;
  height: 120px;
}

.lesson-page__videos {
  height: calc(100% - 240px);
  display: flex;
  .lesson-page__video--students {
    width: 50%;
    background-color: yellow;
    display: flex;
    .lesson-page__video--students-col {
      width: 33%;
      display: flex;
      background-color: skyblue;
      border-style: solid;
      flex-direction: column;
      justify-content: center;
      .lesson-page__stream-container {
        height: 200px;
        margin: 10px;
        background-color: yellow;
      }
      video {
        width: 100%;
      }
    }
  }
  .lesson-page__video--teacher {
    width: 50%;
    background-color: green;
    .lesson-page__main-stream-container {
      margin: 10px;
      video {
        width: 100%;
      }
    }
  }
}

.lesson-page__footer {
  background-color: blue;
  height: 120px;
}
