@use '../base/colors';

.my-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .my-review__review-list {
    width: 100%;
    max-width: 800px;
    margin: 0 20px;
  }
  .my-review__pagination {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 0 60px 0;
  }
}
