@use '../base/colors';

.container {
  margin: 5%;
}

.img__container {
  display: flex;
  .img__item {
    width: 100px;
    height: 100px;
    .img__delete {
      display: none;
      // transition: 0.5s;
    }
  }
}
