@use '../base/colors';
@use '../components/header';

.photo-cards-page {
  height: 100%;
  .photo-cards-page__contents {
    background-color: colors.$theme_color_light;
    height: calc(100% - header.$height);
    display: flex;
    flex-wrap: wrap;
    .photo-cards-page__title {
      margin: 0;
      text-align: left;
      padding: 20px 40px;
      font-size: 36px;
      font-weight: bold;
    }
    .photo-cards-page__list {
      width: 100%;
    }
    .photo-cards-page__pagination {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
