@use '../base/colors';

.point-charge-page {
  height: 100%;
  overflow: auto;
  .point-charge-page__card {
    width: 60%;
    margin: 80px auto;
    .point-charge-page__label {
      font-size: 24px;
      font-weight: bold;
      margin-right: auto;
    }
    .point-charge-page__select-box {
      margin: 0 auto;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .point-charge-page__price-form {
        width: 100%;
        .point-charge-page__row {
          width: 100%;
          display: flex;
          padding: 10px;
          justify-content: space-between;
          .point-charge-page__button--price {
            width: 30%;
            background-color: colors.$beige_color;
            &:hover {
              background-color: colors.$beige_color_focus;
            }
          }
        }
      }
      .point-charge-page__row--point {
        text-align: right;
        width: 100%;
        color: colors.$theme_color;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .point-charge-page__payment {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    .point-charge-page__buttons {
      width: 100%;
      padding: 10px;
      display: flex;
      .point-charge-page__button--payment {
        height: 50px;
        background-color: colors.$beige-color;
        &:hover {
          background-color: colors.$beige_color_focus;
        }
      }
    }
  }
  .point-charge-page__approve {
    display: flex;
    width: 50%;
    margin: 10px auto;
    flex-wrap: wrap;
    .point-charge-page__contents {
      width: 100%;
    }
  }
  .point-charge-page__button--submit {
    background-color: colors.$theme_color;
    margin: 10px auto;
    width: 40%;
    color: white;
  }
}
