@use '../base/colors';

.profile-page {
  width: 100%;
  .profile-page__card {
    width: 60%;
    margin: 80px auto;

    .profile-page__header {
      display: flex;
      .profile-page__photo {
        background-color: green;
        width: 33%;
        height: 300px;
      }
      .profile-page__sub-header {
        display: flex;
        flex-wrap: wrap;
        width: 77%;
        .profile-page__nickname {
          font-size: 32px;
          padding: 20px;
          text-align: left;
          font-weight: 600;
          span {
            color: colors.$theme_color;
          }
          background-color: blue;
          width: 100%;
        }
        .profile-page__point {
          background-color: red;
          width: 100%;
        }
      }
    }
  }
}
