@use '../base/colors';

// 회원가입 페이지 css
#signup-page {
  // 세로 가운데 정렬을 위해 flex container화
  padding: 100px;
  // 로고 이미지 css
  img {
    // 이미지 크기
    width: 180px;

    // 로고 이미지 가운데 정렬하기 위한 속성
    margin: auto;
    display: block;
  }

  // 회원가입 내용 입력 폼
  .signup-page__signup-form {
    // input 태그가 가운데에 오기 위해 오른쪽으로 40px만큼 이동
    position: relative;
    left: 40px;

    // 카드 내에서 폼이 차지하는 가로길이
    width: 70%;

    // 폼 가운데 정렬
    margin: 0 auto;

    // 폰트 크기
    font-size: 24px;

    // 입력 태그가 위치하는 행
    .signup-page__form--row {
      // 가로로 늘리기 위해 flex container로 만듦
      display: flex;

      // 내부 아이템들을 세로 가운데 정렬
      align-items: center;
      padding: 5px;

      // 입력 태그 옆에 있는 버튼
      .signup-page__input--button {
        // 오른쪽 남은 공간에서 가운데 정렬
        margin: auto;

        // 배경색
        background-color: colors.$beige_color;

        // 글자색
        color: colors.$gray-color;

        &:hover {
          background-color: colors.$beige_color_focus;
        }
      }

      // 생년월일을 위한 select 모음
      .signup-page__select {
        // 폼의 70만큼 차지하도록 가로길이 설정, 나머지 30은 버튼을 위한 부분
        width: 70%;

        // justify-contnet를 사용하기위해 flex container로 만듦
        display: flex;

        // select 들을 일정한 구간으로 띄워서 배치
        justify-content: space-between;
      }

      // select 태그
      .signup-page__select-item {
        // 가로길이 세로길이 설정
        width: 30%;
        height: 50px;

        // 폰트 크기
        font-size: 20px;

        // 테두리
        border-color: colors.$gray_color;
        border-radius: 10px;

        // 마우스 올리면 커서를 포인터로 변경
        &:hover {
          cursor: pointer폼;
        }
      }

      // 통신사 선택 select
      #signup-page__select-item--TSP {
        width: 25%;
      }

      // 휴대전화 입력 폼
      #signup-page__input--phone {
        width: 70%;
      }
    }

    // 각 행을 위한 리스트 아이템
    li {
      // 리스트 스타일 제거
      list-style: none;

      // 왼쪽 정렬
      text-align: left;

      // 아이템마다 일정 거리를 띄우기 위한 margin
      margin: 0 0 30px 0;
    }

    // 회원가입 정보 input 태그
    .signup-page__input {
      // 폼의 70%만큼 차지하도록 가로길이 설정, 나머지 30은 버튼을 위한 공간
      width: 70%;

      // select는 50px지만 padding이 5px씩 존재하기 때문에 높이는 40px
      height: 40px;
      padding: 5px;

      // 테두리
      border-radius: 10px;
      border-width: 2px;
      border-color: colors.$gray_color;

      // 태그 바깥의 outline 제거
      outline: none;

      // 폰트 크기
      font-size: 24px;
    }

    // 회원가입 버튼
    .signup-page__submit {
      width: 70%;
      height: 60px;
      background-color: colors.$theme_color;
      color: white;

      // 마우스 커서를 올리면 배경색 변경
      &:hover {
        background-color: colors.$theme_color_focus;
      }
    }
  }
}
