@use '../base/colors';

.video-call-page__video-modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  h1 {
    width: 100%;
    text-align: center;
  }
  .video-call-page__video-select {
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
  }
  .video-call-page__video-button {
    width: 40%;
    background-color: colors.$theme-color;
    margin: 20px auto;
  }
}
.video-call-page {
  display: flex;
  height: 100%;
  .video-call-page__content {
    width: 100%;
    height: 100%;
    .video-call-page__header {
      height: 120px;
    }
    .video-call-page__videos {
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 240px);
      .video-call-page__video--students-left {
        width: 50%;
        .video-call-page__video--student {
          display: flex;
          .video-call-page__student-stream-container {
            width: 100%;
            margin: 20px;
            cursor: pointer;
          }
        }
        .video-call-page__video--students-group {
          display: flex;
          height: 100%;
          .video-call-page__video--students-col {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .video-call-page__stream-container {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 200px;
              cursor: pointer;
              margin: 10px;
            }
          }
        }
      }
      .video-call-page__video--teacher {
        width: 50%;
        display: flex;
        .video-call-page__teacher-stream-container {
          width: 100%;
          margin: 20px;
          video {
            width: 100%;
          }
        }
      }
      .video-call-page__video--students-bottom {
        width: 100%;
        display: block;
        overflow: auto;
        white-space: nowrap;
        .video-call-page__stream-container {
          display: inline-block;
          cursor: pointer;
          margin: 10px;
        }
      }
    }

    .video-call-page__footer {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      .video-call-page__buttons {
        position: absolute;
        margin: 0 auto;
        width: 400px;
        display: flex;
        justify-content: space-around;
        .video-call-page__button {
          border: none;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          background-color: colors.$theme-color;
          color: white;
          cursor: pointer;
        }

        .video-call-page__button--quit {
          background-color: #ff4d4d;
        }
        .video-call-page__button--msg {
          color: colors.$theme-color;
          background-color: rgba(255, 255, 255, 0);
        }
      }
      .video-call-page__hands {
        position: absolute;
        right: 0;
        display: flex;
        width: 400px;
        padding: 0 20px;
        overflow-x: auto;
        .video-call-page__hand {
          padding: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
