@use '../base/colors';

.create_apply_lessons {
  display: flex;
  margin-bottom: 100px;
}
.createlessons {
  border-right: solid 1px black;
  width: 50%;
}
.applylessons {
  margin-left: 10px;
  width: 50%;
  .lesson {
    //여기다가 hover css 적용하면 원하는 데에만 css 적용
    //하지만 hover event 찾아봐야함
  }
}
