@use '../base/colors';
$height: 80px;

header {
  position: sticky;
  z-index: 2;
  height: $height;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 10px gray;
  background-color: white;
  .logo {
    padding: 0 30px;
    img {
      height: 50px;
    }
  }

  .nav {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    align-items: center;
    .nav__item {
      color: black;
      padding: 10px;
      float: left;
      margin: 0;
      text-shadow: 0 2px 4px gray;
      transition: 0.1s;
      &:hover {
        font-size: 28px;
      }
    }
    .nav__button {
      background-color: colors.$theme_color;
      color: white;

      width: 140px;
      font-size: 20px;

      &:hover {
        background-color: colors.$theme_color_focus;
      }
    }

    .nav__button--icon {
      background-color: rgba($color: #000000, $alpha: 0);
      border: none;
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .search {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: colors.$gray_color;
    border-radius: 20px;
    box-shadow: 0 2px 4px gray;
    transition: 0.1s;
    &:focus-within {
      padding: 2px;
    }
    .search__searchbar {
      padding: 6px 20px;
      height: 36px;
      border-width: 0px;
      font-size: 20px;
      border-radius: 20px;
      background-color: colors.$gray_color;
      &:focus {
        outline: none;
      }
    }

    .search__button {
      background-color: transparent;
      border-width: 0;
      padding: 0 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .header__user-info {
    border-style: solid;
    border-width: 0.5px;
    border-color: colors.$gray_color;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 300px;
    top: 60px;
    right: 0;
    .header__user-img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      margin-top: 20px;
    }
    .header__nickname {
      font-size: 24px;
      font-weight: bold;
    }
    .button {
      color: white;
      margin: 4px 6px;
    }
    .header__user-button {
      background-color: colors.$theme_color;
      &:hover {
        background-color: colors.$theme_color_focus;
      }
    }
    .header__user-logout {
      background-color: #ff4d4d;
      &:hover {
        background-color: #dd2b2b;
      }
    }
  }
}

@media (max-width: 480px) {
  .nav__item--link {
    font-size: 10px;
  }
  .search,
  .search__searchbar,
  .search__button {
    width: 10%;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .nav__item--link {
    font-size: 15px;
  }
  .search,
  .search__searchbar,
  .search__button {
    width: 50%;
  }
}
