@use '../base/colors';

div {
  align-items: center;
  .container {
    padding: 30px 30px;
    height: 400px;
    width: 400px;
    align-items: center;
    border-width: 1px;
    border-color: colors.$gray_color;
    border-style: solid;
    margin: 5%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    .logo {
      align-items: center;
      padding: 0 30px;
      img {
        height: 50px;
      }
    }

    .login_form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      input {
        padding: 0px 10px;
        height: 40px;
        width: 200px;
        margin: 10px;
        border-width: 1px;
        border-color: colors.$gray_color;
        font-size: 12px;
        border-radius: 10px;
      }

      .check__pw {
        background-color: transparent;
        color: colors.$gray_color;
        border-width: 0;
        padding: 0 0px;
        position: absolute;
        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .link {
        display: inline;
        align-items: flex-end;
        text-align: center;
        list-style: none;
        float: inline-end;
        li {
          display: inline-block;
          font-size: 12px;
        }
      }
    }

    .login__button {
      padding: 10px 10px;
      height: 40px;
      width: 200px;
      border-width: 0px;
      border-radius: 10px;
      background-color: colors.$theme_color;
      border: 0;
      outline: 0;
      margin: 1px;
      &:hover {
        cursor: pointer;
        background-color: colors.$theme_color_focus;
      }
    }
  }
}
