@use '../base/colors';

.message {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  border-bottom: 0.5px solid #aaaaaa;
  .message__sender {
    width: 30%;
  }
  .message__sender--teacher {
    color: colors.$theme_color;
  }
  .message__sender--student {
    color: colors.$gray_color;
  }
  .message__time {
    width: 70%;
    text-align: left;
  }
  .message__message {
    width: 90%;
    text-align: left;
  }
}
