@use '../base/colors';

.create_apply_lessons {
  display: flex;
  margin-bottom: 100px;
}
.createlessons {
  width: 50%;
  .createlessons__title {
    margin-left: 50px;
    text-align: left;
  }
  .createlessons__cards {
    display: flex;
    justify-content: space-evenly;
  }
}
