@use '../base/colors';
.applylessons__schedule {
  display: flex;
  justify-content: space-evenly;
}
.applylessons__hover {
  height: 100%;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.8);
  position: absolute;
  top: 0%;
  right: 0%;
  align-items: center;
  .applylessons__hover--buttons {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 40%;
    // align-content: space-evenly;
    // width: 20%;
    // align-items: center;
  }
}
