@use '../base/colors';

.photo-card {
  background-color: colors.$theme_color;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
  .photo-card__menu {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .photo-card__back {
    width: 100%;
    height: calc(100% - 32px);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    .photo-card__title {
      width: 100%;
      text-align: center;
      font-size: 36px;
    }
    .photo-card__content {
      width: 100%;
      text-align: center;
      font-size: 32px;
      .photo-card__quote {
        font-size: 40px;
        display: block;
        margin: 0 auto;
      }
      .photo-card__quote--front {
        transform: rotate(180deg);
      }
    }
    .photo-card__nickname {
      width: 90%;
      text-align: right;
      font-size: 24px;
    }
    .photo-card__date {
      width: 100%;
      text-align: center;
      margin-top: auto;
    }
    .photo-card__lesson {
      text-align: center;
      width: 100%;
      font-weight: bold;
      color: colors.$theme_color;
    }
  }
  .photo-card__front {
    width: 100%;
    height: calc(100% - 32px);
    .photo-card__image {
      width: 100%;
      height: 80%;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .photo-card__footer {
      width: 100%;
      display: flex;
      .photo-card__footer-left {
        width: 80%;
        .photo-card__title {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        .photo-card__nickname {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
        }
      }
      .photo-card__footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;

        .photo-card__like {
          width: 36px;
          height: 36px;
          color: #ff4d4d;
        }
        .photo-card__unlike {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
